[user]
	name = Carlos Gándara
	email = xoubaman@gmail.com

[core]
	excludesfile = ~/.gitignore_global

[alias]
	s        = !echo 'git status -s' && git status -s
	aa       = !echo 'git add .' && git add .
	b        = !echo 'git branch' && git branch
	bl       = !echo 'git branch list with cat' && git branch | cat
	c        = !echo 'git commit -m' && git commit -m
	co       = !echo 'git checkout' && git checkout
	pl       = !echo 'git pull' && git pull
	ps       = !echo 'git push' && git push
	psf      = !echo 'git push -f' && git push -f
	rb       = !echo 'git rebase' && git rebase
	rbi      = !echo 'git rebase -i' && git rebase -i
	rba      = !echo 'git rebase --abort' && git rebase --abort
	rbc      = !echo 'git rebase --continue' && git rebase --continue
	rbs      = !echo 'git rebase --skip' && git rebase --skip
	amend    = !echo 'git add . && git commit --amend --no-edit' && git add . && git commit --amend --no-edit
	sync     = !echo 'git pull --rebase origin' && git pull --rebase origin

	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit

[pull]
	rebase = true

[push]
	default = simple

[rerere]
	enabled = true

[fetch]
	prune = true
	pruneTags = true

[color]
	ui = true

[help]
	autocorrect = 5
